<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="receive_port" value="30002" />
    <add key="ticker_broadcast_port" value="30003" />
    <add key="RTMLevel" value="NORMAL"/>    <!-- NORMAL | DEBUG | VERBOSE -->
    <add key="logfile" value="C:\Users\ean\data\school\csharp\"/>
  </appSettings>
</configuration>