<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="send_port" value="30002" />
    <add key="RTMLevel" value="VERBOSE"/>
    <!-- NORMAL | DEBUG | VERBOSE -->
    <add key="logfile" value="C:\Users\ean\data\school\csharp\"/>
  </appSettings>
</configuration>